In [39]:
import pandas as pd 
import numpy as np

### 1

In [ ]:
ser = pd.Series(np.random.randint(1,10,35))
ser

0     8
1     7
2     3
3     9
4     9
5     3
6     3
7     7
8     8
9     4
10    1
11    8
12    7
13    3
14    5
15    3
16    3
17    9
18    2
19    3
20    5
21    1
22    8
23    4
24    1
25    8
26    4
27    7
28    6
29    6
30    8
31    5
32    7
33    7
34    4
dtype: int32

### mã lệnh trên tạo một Series với 35 phần tử có giá trị từ 1 đến 9

### 2

In [45]:
df = pd.DataFrame(ser.values.reshape(5, 7))

In [46]:
df

   0  1  2  3  4  5  6
0  8  7  3  9  9  3  3
1  7  8  4  1  8  7  3
2  5  3  3  9  2  3  5
3  1  8  4  1  8  4  7
4  6  6  8  5  7  7  4