In [9]:
import pandas as pd

In [10]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

## xếp chồng theo chiều ngang

In [11]:
df1 = pd.concat((ser1,ser2), axis=1)
df1

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## xếp chồng theo chiều dọc

In [14]:
df2 = pd.concat((ser1,ser2),axis=0,ignore_index=True)
df2

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object