In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
drink = pd.read_csv('chuong3\drinks.csv')
drink

     Unnamed: 0      country  ...  total_litres_of_pure_alcohol  continent
0             0  Afghanistan  ...                           0.0         AS
1             1      Albania  ...                           4.9         EU
2             2      Algeria  ...                           0.7         AF
3             3      Andorra  ...                          12.4         EU
4             4       Angola  ...                           5.9         AF
..          ...          ...  ...                           ...        ...
188         188    Venezuela  ...                           7.7         SA
189         189      Vietnam  ...                           2.0         AS
190         190        Yemen  ...                           0.1         AS
191         191       Zambia  ...                           2.5         AF
192         192     Zimbabwe  ...                           4.7         AF

[193 rows x 7 columns]

In [ ]:
drink.dtypes

Unnamed: 0                        int64
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
drink.shape

(193, 7)

In [ ]:
list(drink.columns)

['Unnamed: 0', 'country', 'beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol', 'continent']

In [ ]:
drink.head()

   Unnamed: 0      country  ...  total_litres_of_pure_alcohol  continent
0           0  Afghanistan  ...                           0.0         AS
1           1      Albania  ...                           4.9         EU
2           2      Algeria  ...                           0.7         AF
3           3      Andorra  ...                          12.4         EU
4           4       Angola  ...                           5.9         AF

[5 rows x 7 columns]

In [ ]:
drink.tail()

     Unnamed: 0    country  ...  total_litres_of_pure_alcohol  continent
188         188  Venezuela  ...                           7.7         SA
189         189    Vietnam  ...                           2.0         AS
190         190      Yemen  ...                           0.1         AS
191         191     Zambia  ...                           2.5         AF
192         192   Zimbabwe  ...                           4.7         AF

[5 rows x 7 columns]

In [ ]:
# trung bình lượng bia tiêu thụ 
np.mean(drink['beer_servings'])

106.16062176165804

In [ ]:
# số lượng rượu vang tiêu thụ ở mỗi châu lục
drink['wine_servings'].describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

In [ ]:
#4
print('số lượng các loại bia rượu tiêu thụ trung bình(mean) ở mỗi châu lục: ')
print(drink[['beer_servings','wine_servings']].mean())

sá»‘ lÆ°á»£ng cÃ¡c loáº¡i bia rÆ°á»£u tiÃªu thá»¥ trung bÃ¬nh(mean) á»Ÿ má»—i chÃ¢u lá»¥c:
beer_servings    106.160622
wine_servings     49.450777
dtype: float64

In [ ]:
#5
print("gia tri trung vi cho cac loai bia la: ",drink['beer_servings'].median())
print("gia tri trung vi cho cac loai ruou la: ",drink['wine_servings'].median())

gia tri trung vi cho cac loai bia la:  76.0
gia tri trung vi cho cac loai ruou la:  8.0

In [ ]:
#6
print("so luong ruou manh tieu thu trung binh: ",drink['spirit_servings'].median())
print("so luong ruou manh tieu thu lon nhat: ",drink['spirit_servings'].max())
print("so luong ruou manh tieu thu nho nhat: ",drink['spirit_servings'].min())

so luong ruou manh tieu thu trung binh:  56.0
so luong ruou manh tieu thu lon nhat:  438
so luong ruou manh tieu thu nho nhat:  0

In [ ]:
arrange = drink.sort_values('beer_servings')[::-1]
print("5 quoc gia tieu thu bia nhieu nhat: \n",arrange[["country","beer_servings"]].head())

5 quoc gia tieu thu bia nhieu nhat:
             country  beer_servings
117         Namibia            376
45   Czech Republic            361
62            Gabon            347
65          Germany            346
98        Lithuania            343

In [ ]:
print("5 quoc gia tieu thu bia it nhat: \n", arrange[["country","beer_servings"]].tail())

5 quoc gia tieu thu bia it nhat:
           country  beer_servings
111        Monaco              0
46    North Korea              0
40   Cook Islands              0
13     Bangladesh              0
0     Afghanistan              0